/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('mmexport96f2debf9d1b3cffda7f04aef75d3b43_1629828275217.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilo del contenedor */
.contenedor {
    width: 1200px; /* Ancho fijo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

/* Estilo para la tabla */
.table-responsive {
    width: 100%; /* Ancho del contenedor de la tabla */
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilo para la tabla */
table {
    width: 2520px; /* Ancho total de la tabla (14 columnas de 180px) */
    table-layout: fixed; /* Fijar el tamaño de las columnas */
    border-collapse: collapse; /* Colapsar los bordes de las celdas */
    white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
}

/* Estilo para celdas */
th, td {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    width: 180px; /* Ancho fijo para cada columna */
    text-align: center; /* Alineación horizontal al centro */
    vertical-align: top; /* Alineación vertical hacia arriba */
    overflow: hidden; /* Ocultar contenido que excede */
    white-space: nowrap; /* No permitir que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto es demasiado largo */
}


/* Hacer que el contenido de las celdas sea desplazable */
td {
    max-width: 180px; /* Ancho máximo de la celda */
    overflow: hidden; /* Ocultar el contenido que no cabe */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos */
    white-space: nowrap; /* No permitir el ajuste de línea */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .table-responsive {
        overflow-x: auto; /* Permitir desplazamiento horizontal */
    }

    .table-responsive table {
        width: 500px; /* Ancho de la tabla ajustado a pantallas pequeñas */
    }

    th, td {
        width: auto; /* Ajustar el ancho de las columnas en pantallas pequeñas */
    }
}

window.addEventListener('resize', function() {
    const newWidth = window.innerWidth;
    deviceTypeDiv.innerText = newWidth < 860 ? "Estás usando la versión móvil." : "Estás usando la versión de escritorio.";
});
