/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('mmexport96f2debf9d1b3cffda7f04aef75d3b43_1629828275217.webp'); /* Imagen de fondo por defecto */
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 640px) {
    body {
        background-image: url('paisChina.png'); /* Cambia la imagen de fondo */
        background-size: cover; /* Asegúrate de que cubra todo el fondo */
    }
}

/* Estilo para centrar el contenido */
.contenido-centrado {
    width: 100%;
    margin: 0 auto;
}

/* ... Resto de tu CSS ... */

/* Contenedor para la tabla */
.table-responsive {
    width: 100%;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos de la tabla */
table {
    width: auto; /* Deja que el ancho de la tabla se ajuste según las columnas */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    table-layout: fixed; /* Fijar el ancho de las columnas */
}

/* Estilo para las celdas de la tabla */
th, td {
    width: 200px; /* Fijar el ancho de las columnas a 200px */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
    border: 1px solid #ddd; /* Bordes de celdas */
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: #f2f2f2; /* Color de fondo */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .table-responsive {
        overflow-x: auto; /* Permitir desplazamiento horizontal */
    }

    table {
        width: 500px; /* Fijar el ancho total de la tabla en pantallas pequeñas */
    }
}
