/* Estilo para el día actual */
.highlight-today {
    background-color: #f0f8ff; /* Sombreado */
    text-decoration: underline; /* Subrayado */
    border: 1px solid #000; /* Borde de 1px */
    border-radius: 50%; /* Envolver en círculo */
    width: 40px; /* Ajuste del tamaño del círculo */
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('mmexport96f2debf9d1b3cffda7f04aef75d3b43_1629828275217.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilo del contenedor */
.contenedor {
    width: 640px; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

/* Estilo para la tabla */
.table-responsive {
    width: 100%; /* Asegurar que el contenedor de la tabla ocupe todo el ancho */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
}

/* Estilo para la tabla */
table {
    width: auto; /* Ajustar la tabla al tamaño de las columnas */
    border-collapse: collapse; /* Colapsar los bordes de las celdas */
    /* Quita o cambia esta línea: */
    /* table-layout: fixed; /* Quita esta línea para permitir el ajuste dinámico */
}

/* Estilo para celdas */
th, td {
    border: 1px solid rgb(10, 26, 241);
    background-color: rgb(255, 255, 255);
    padding: 8px;
    white-space: normal; /* Permitir el ajuste de línea automático */
    word-wrap: break-word; /* Dividir palabras largas si es necesario */
    overflow-wrap: break-word; /* Alternativa para dividir palabras largas */
    text-overflow: clip; /* Mostrar el texto completo sin puntos suspensivos */
}

/* Hacer que el contenido de las celdas sea desplazable */
td {
    text-overflow: clip; /* Mostrar el texto completo sin puntos suspensivos */
    white-space: normal; /* Permitir el ajuste de línea automático */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .table-responsive {
        overflow-x: auto; /* Permitir desplazamiento horizontal */
    }

    .table-responsive table {
        width: 100%; /* Ajustar la tabla al 100% en pantallas pequeñas */
    }

    th, td {
        width: auto; /* Ajustar el ancho de las columnas en pantallas pequeñas */
    }
}
